@import "bootstrap-sprockets";
@import "bootstrap";
@import "token-input";

body {
  padding: 50px 0 20px 0;
  margin: 0;
}

.well {
  padding-top: 10px;
  padding-bottom: 10px;
}


#calendar-header {
  border: none;
  margin-bottom: 0;

  a {
    font-size: 16px;
    line-height: 16px;
    position: relative;
    top: -3px;
  }
}

#calendar {
  font-size: 13px;

  .cell {
    position: relative;
    min-height: 1.5em;
  }
  .day {
    position: absolute;
    line-height: 1em;
  }
  .member {
    display: block;
    margin-left: 2.2em;
  }
  .joined .member {
    margin-left: 4.2em;
  }
  .notmonth {
    color: #bfbfbf;
  }
  .weekend {
    display: none;
  }
  .today {
    background-color: #ffff9e;
  }
  h3 {
    font-size: 18px;
    margin: 2px 0;
  }
}

select.date {
  width: 7em;
}
select.date:first-child {
  width: 4em;
}

ul.token-input-list {
  position: relative;
  top: -2em;
}


@media print {
  body {
    padding: 0;
  }
}

.inactive {
  color: #bfbfbf;
}
